[submodule "libtiff"]
	path = libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "libjpeg-turbo"]
	path = libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
